
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "rockwell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
  padding-bottom: 120px;
}

/* Flex places the element next to eachother */
nav{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #16465a;
}

/* This is to assign the styling to the image class */
nav .imageDiv{
    height: 100%;
    padding: 5px;
    padding-left: 40%;
}

nav .imageDiv img{
    height: 100%;
}

nav ul{
    display: flex;
    flex-grow: 1;
    list-style: none;
    height: 100%;
}

nav ul li{
    height: 100%;
    width: 100%;
}

nav ul li a{
    color: #edf1ee;
    text-decoration: none;
    font-size: 15px;
    line-height: 100px;
    display: inline-block;
    width: 110%;
    text-align: center;
}

nav ul li a:hover{
    color: #9ec1d7;
}

.btn-custom-light {
    --bs-btn-color: #16465a;
    --bs-btn-bg: #edf1ee;
    --bs-btn-border-color: #edf1ee;
    --bs-btn-hover-color: #9ec1d7;
    --bs-btn-hover-bg: #edf1ee;
    --bs-btn-hover-border-color: #edf1ee;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
  }

  .btn{
    border-radius: 0px;
  }

  .photographynav{
    right: 100px;
    width: 200px;
  }

  .signupbutton{
    position: absolute;
    top: 30px;
    right: 80px;
    width: 120px;
    height: 50px;
  }

  .welcometitle{
    position: absolute;
    top: 194px;
    left: 600px;
    color: #edf1ee;
}
  
  .Homepageimage{
      top: 123px;
      height: 627px;
      object-fit: cover;
      width: 100%;
    }

  .aboutmetitle{
    color: #16465a;
    position: absolute;
    top: 813px;
    left: 80px;
  }

  .earthicon{
    position: absolute;
    top: 956px;
    left: 80px;
    width: 122px;
    height: 122px;
  }

  .earthtext{
    color: #16465a;
    position: absolute;
    top: 956px;
    left: 230px;
    display: inline-block;
    width: 276px;
  }

  .foodicon{
    position: absolute;
    top: 952px;
    left: 540px;
    width: 130px;
    height: 104.1px;
  }

  .foodtext{
    color: #16465a;
    position: absolute;
    top: 956px;
    left: 680px;
    height: 122px;
    display: inline-block;
    width: 276px;
  }

  .bookicon{
    position: absolute;
    top: 1189.54px;
    left: 80px;
    width: 122.2px;
    height: 93.5px;
  }

  .booktext{
    color: #16465a;
    position: absolute;
    top: 1189px;
    left: 230px;
    display: inline-block;
    width: 276px;
  }

  .cameraicon{
    position: absolute;
    top: 1188.06px;
    left: 540px;
    width: 121px;
    height: 105.9px;
  }

  .cameratext{
    color: #16465a;
    position: absolute;
    top: 1189px;
    left: 680px;
    display: inline-block;
    width: 276px;
  }

  .aboutmeimage{
    top: 866px;
    position: absolute;
    bottom: 45px;
    width: 420px;
    height: 400px;
    object-fit: cover;
    left: 980px;
    right: 200px;
  }

  .subscribebannerbox{
    position: absolute;
    bottom: -750px;
    left: 0px;
    background-color: #9EC1D7;
    width: 1450px;
    height: 100px;
  }

  .subscribe{
    position: absolute;
    bottom: -760px;
    left: 80px;
    width: 1920px;
    height: 75px;
    font-size: 30px;
    font-weight: lighter;
  }

  .subscribebutton{
    padding: 1px 5px;
    position: absolute;
    bottom: -715px;
    right: 100px;
    background-color: #654039;
    color: #edf1ee;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: "rockwell", sans-serif;
    font-size: 35px;
  }


/* Tips page styling*/

.Tipspageimage{
    top: 123px;
    height: 627px;
    object-fit: cover;
    width: 100%;
}

.tipstitle{
  position: absolute;
  top: 194px;
  left: 640px;
  color: #edf1ee;
}


/* Tips #1*/
.tip1title{
  color: #16465a;
  position: absolute;
  top: 800px;
  left: 200px;
  font-size: 100px;
}

.tip1{
  color: #16465a;
  position: absolute;
  top: 820px;
  left: 350px;
  display: inline-block;
  width: 150px;
}

/* Tips #2*/
.tip2title{
  color: #16465a;
  position: absolute;
  top: 800px;
  left: 800px;
  font-size: 100px;
}

.tip2{
  color: #16465a;
  position: absolute;
  top: 820px;
  left: 950px;
  display: inline-block;
  width: 150px;
}

/* Tips #4*/
.tip4title{
  color: #16465a;
  position: absolute;
  top: 956px;
  left: 800px;
  font-size: 100px;
}

.tip4{
  color: #16465a;
  position: absolute;
  top: 960px;
  left: 950px;
  display: inline-block;
  width: 150px;
}

/* Tips #3*/
.tip3title{
  color: #16465a;
  position: absolute;
  top: 956px;
  left: 200px;
  font-size: 100px;
}

.tip3{
  color: #16465a;
  position: absolute;
  top: 1120px;
  left: 350px;
  display: inline-block;
  width: 150px;
}

/* Tips #5*/
.tip5title{
  color: #16465a;
  position: absolute;
  top: 1100px;
  left: 200px;
  font-size: 100px;
}

.tip5{
  color: #16465a;
  position: absolute;
  top: 960px;
  left: 350px;
  display: inline-block;
  width: 150px;
}

/* Tips #6*/
.tip6title{
  color: #16465a;
  position: absolute;
  top: 1100px;
  left: 800px;
  font-size: 100px;
}

.tip6{
  color: #16465a;
  position: absolute;
  top: 1120px;
  left: 950px;
  display: inline-block;
  width: 150px;
}

.subscribe2{
  position: absolute;
  bottom: -710px;
  left: 80px;
  width: 1920px;
  height: 73px;
  font-size: 30px;
  font-weight: lighter;
}

.subscribebutton2{
  padding: 1px 5px;
  position: absolute;
  bottom: -670px;
  right: 100px;
  background-color: #654039;
  color: #edf1ee;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-family: "rockwell", sans-serif;
  font-size: 35px;
}

.subscribebannerbox2{
  position: absolute;
  bottom: -700px;
  left: 0px;
  background-color: #9EC1D7;
  width: 1500px;
  height: 100px;
}

/* Photography Page styling*/

.photographytitle{
position: absolute;
top: 194px;
left: 570px;
color: #16465a;
}

.imagebergamo{
  position: absolute;
  left: 138.75px;
  object-fit: cover;
  top: 312.39px;
  width: 80%;
  height: 600px;
}

.imagebutterfly{
  position: absolute;
  object-fit: cover;
  top: 950px;
  left: 138.75px;
  width: 500px;
  height: 674.8px;
}

.imagegdansk{
  position: absolute;
  top: 1660px;
  left: 138.75px;
  object-fit: cover;
  bottom: 197.01px;
  width: 500px;
  height: 674.8px;
}

.imagepoland{
  position: absolute;
  object-fit: cover;
  top: 950px;
  right: 145px;
  bottom: 197.01px;
  width: 600px;
  height: 1380px;
}

/* Subscribe form Page styling*/

.Subscribehere{
  position: absolute;
  top: 194px;
  left: 280px;
  color: #16465a;
}

form{
  text-align: center;
  position: absolute;
  top: 300px;
  left: 450px;
  justify-content: center;
}

input[type="email"]{
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: #9EC1D7;
}

input[type="email"]::placeholder {
  color: #edf1ee;
}

button[type="submit"] {
  padding: 1px 7px;
  position: absolute;
  background-color: #654039;
  color: #edf1ee;
  border: none;
  border-radius: 0px;
  left: 150px;
  top: 500px;
  font-family: "rockwell", sans-serif;
  font-size: 35px;
}

.subscribeimage{
  position: absolute;
  top: 500px;
  left: 90px;
  width: 1250px;
  height: 200px;
  object-fit: cover;
}


/* Contact us form */

form{
  text-align: center;
  position: absolute;
  top: 300px;
  left: 250px;
  justify-content: center;
}

input[type="email"]{
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: #9EC1D7;
}

input[type="email"]::placeholder {
  /* Change color of placeholder text */
  color: #edf1ee; /* Change color to desired color */
}

input[type="message"],textarea {
  width: 900px;
  padding: 10px 10px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 0px;
  background-color: #9EC1D7;
}

textarea[type="message"]::placeholder {
  /* Change color of placeholder text */
  color: #edf1ee; /* Change color to desired color */
}

button[type="submit"] {
  padding: 1px 7px;
  position: absolute;
  background-color: #16465a;
  color: #9EC1D7;
  border: none;
  border-radius: 0px;
  top: 390px;
  left: 370px;
  font-family: "rockwell", sans-serif;
  font-size: 35px;
}

.contacttitle{
  position: absolute;
  top: 194px;
  left: 210px;
  color: #16465a;
}

/* Packing List Page */

.packinglisttitle{
  position: absolute;
  top: 194px;
  left: 570px;
  color: #16465a;
}

.filterbar{
  display: flex;
  background-color: #654039;
  padding: 20px 20px;
  position: absolute;
  top: 300px;
  left: 70px;
  width: 1290px;
  height: 80px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.browseby{
  color: #edf1ee;
  width: 200px;
}

.packinglistimage-left{
  position: absolute;
  top: 450px;
  height: 1226px;
  object-fit: cover;
  left: 70px;
  width: 300px;
}

.packinglistimage-right{
  position: absolute;
  top: 450px;
  height: 1226px;
  object-fit: cover;
  right: 70px;
  width: 300px;
}

.dropdown1{
  width: 200px;
}

.dropdown1 select {
  width: 100%;
}

.dropdown2{
  width: 200px;
}

.dropdown2 select {
  width: 200px;
}

.dropdown3{
  width: 200px;
}

.dropdown3 select {
  width: 200px;
}

.search-btn{
  background-color: #edf1ee;
  color: #16465A;
  width: 100px;
  align-items: center;
}

.para1{
  justify-content: center;
  color: #16465a;
  text-align: center;
  position: absolute;
  top: 450px;
  left: 530px;
}

.para{
  justify-content: center;
  color: #16465a;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 500px;
}

.packinglistimage-left2{
  position: absolute;
  top: 250px;
  height: 1226px;
  object-fit: cover;
  left: 70px;
  width: 300px;
}

.packinglistimage-right2{
  position: absolute;
  top: 250px;
  height: 1226px;
  object-fit: cover;
  right: 70px;
  width: 300px;
}


/* Focus Blog Page - Sicily */  
  
.return{
  color: #16465A;
  position: absolute;
  padding-left: 50px;
  padding-top: 30px;
  text-decoration: none;
}

.blogtitleS{
  color: #16465A;
  padding-top: 70px;
  padding-left: 50px;
  font-size: 50px;
}

.image1{
  position: absolute;
  object-fit: cover;
  top: 250px;
  left: 50px;
  width: 600px;
  height: 400px;
}

.image2{
  position: absolute;
  top: 750px;
  right: 50px;
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.image3{
  position: absolute;
  object-fit: cover;
  bottom: -800px;
  left: 50px;
  width: 93%;
  height: 300px;
}

.paragraph1{
  color: #16465A;
  position: absolute;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  width: 675px;
  height: 395px;
  top: 250px;
  right: 50px;
}

.paragraph2{
  color: #16465A;
  position: absolute;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  width: 675px;
  height: 395px;
  top: 750px;
  left: 50px;
}

/* Focus Blog Page - Vienna */  
  
.blogtitleV{
  color: #16465A;
  padding-top: 70px;
  padding-left: 50px;
  font-size: 50px;
}

/* Focus Blog Page - Sofia */  
  
.blogtitleSo{
  color: #16465A;
  padding-top: 70px;
  padding-left: 50px;
  font-size: 50px;
}

/* Focus Blog Page - Rome */  
  
.blogtitleR{
  color: #16465A;
  padding-top: 70px;
  padding-left: 50px;
  font-size: 50px;
}

/* Focus Blog Page - Milan */ 

.Blogtitle{
  position: absolute;
  top: 194px;
  left: 630px;
  color: #16465a;
}
  
.blogtitleM{
  color: #16465A;
  padding-top: 70px;
  padding-left: 50px;
  font-size: 50px;
}

/* Focus Blog Pag - Milan */  

.blogpageimage1{
  position: absolute;
  top: 650px;
  left: 0;
  width: 650px;
  height: 400px;
  object-fit: cover;
}

.blogpara1{
  margin: 0;
  position: absolute;
  color: #16465A;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  width: 600px;
  height: 373px;
  top: 650px;
  right: 100px;
}

.blogpageimage2{
  position: absolute;
  right: 0.5px;
  top: 1100px;
  width: 650px;
  height: 400px;
  object-fit: cover;
}

.blogpara2{
  margin: 0;
  position: absolute;
  color: #16465A;
  font-family: Helvetica, sans-serif;
  display: inline-block;
  width: 600px;
  height: 373px;
  top: 1100px;
  left: 50px;
}

.milancircle{
  position: absolute;
  width: 20%;
  top: 250px;
  right: 0;
  left: 30px;
}

.sicilycircle{
  position: absolute;
  width: 20%;
  top: 250px;
  left: 300px;
}

.viennacircle{
  position: absolute;
  width: 20%;
  top: 250px;
  right: 0;
  left: 560px;
}

.romecircle{
  position: absolute;
  width: 20%;
  top: 250px;
  right: 0;
  left: 820px;
}

.sofiacircle{
  position: absolute;
  width: 20%;
  top: 250px;
  right: 0;
  left: 1100px;
}

.linkspages{
  display: flex;
  text-decoration: none;
}

.sicilylink{
  color: #16465A;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  top: 530px;
  left: 400px;
}

.milanlink{
  color: #16465A;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  top: 530px;
  left: 130px;
}

.viennalink{
  color: #16465A;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  top: 530px;
  left: 650px;
}

.romelink{
  color: #16465A;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  top: 530px;
  left: 920px;
}

.sofialink{
  color: #16465A;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  top: 530px;
  left: 1205px;
}



/*footer photography*/

.footerimagelogo{
  position: absolute;
  bottom: -1885px;
  margin-left: 25px;
  width: 20%;
}

.footerlinks1 ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1 ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 2500px;
}

.footerlinks1 ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerbox{
  position: absolute;
  bottom: -1935px;
  left: 0px;
  background-color: #16465A;
  width: 100%;
  height: 130px;
}
.socials{
  display: flex;
  position: absolute;
  bottom: -1880px;
  left: 1100px;
}

.social-media-link a{
  margin-left: 30px;
}

.footerlinks1 ul li a:hover{
  color: #9EC1D7;
}

.social-media-link img{
  width: 40px;
}

/*footer index*/

.footerimagelogoindex{
  position: absolute;
  bottom: -920px;
  margin-left: 25px;
  width: 20%;
}

.footerlinks1index ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1index ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 900px;
}

.footerlinks1index ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerboxindex{
  position: absolute;
  bottom: -960px;
  left: 0px;
  background-color: #16465A;
  width: 100%;
  height: 130px;
}
.socialsindex{
  display: flex;
  position: absolute;
  bottom: -900px;
  left: 1100px;
}

.social-media-linkindex a{
  margin-left: 30px;
}

.footerlinks1index ul li a:hover{
  color: #9EC1D7;
}

.social-media-linkindex img{
  width: 40px;
}

/*footer blogpage*/

.footerimagelogoblogs{
  position: absolute;
  bottom: -900px;
  margin-left: 25px;
  width: 20%;
}

.footerlinks1blogs ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1blogs ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 1530px;
}

.footerlinks1blogs ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerboxblogs{
  position: absolute;
  bottom: -960px;
  left: 0px;
  background-color: #16465A;
  width: 100%;
  height: 130px;
}
.socialsblogs{
  display: flex;
  position: absolute;
  bottom: -900px;
  left: 1100px;
}

.social-media-linkblogs a{
  margin-left: 30px;
}

.footerlinks1blogs ul li a:hover{
  color: #9EC1D7;
}

.social-media-linkblogs img{
  width: 40px;
}


/*footer tips page*/

.footerlinks1tips ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1tips ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 890px;
}

.footerlinks1tips ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerlinks1tips ul li a:hover{
  color: #9EC1D7;
}


/*footer SC*/

.footerimagelogoSC{
  position: absolute;
  bottom: -250px;
  margin-left: 25px;
  width: 20%;
}

.footerlinks1SC ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1SC ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 880px;
}

.footerlinks1SC ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerboxSC{
  position: absolute;
  bottom: -300px;
  left: 0px;
  background-color: #16465A;
  width: 100%;
  height: 130px;
}
.socialsSC{
  display: flex;
  position: absolute;
  bottom: -250px;
  left: 1100px;
}

.social-media-linkSC a{
  margin-left: 30px;
}

.footerlinks1SC ul li a:hover{
  color: #9EC1D7;
}

.social-media-linkSC img{
  width: 40px;
}

/*footer Milan*/

.footerlinks1Milan ul{
  position: absolute;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-left: 550px;
}

.footerlinks1Milan ul li{
  display: inline-block;
  margin: 0 10px;
  margin-top: 1390px;
}

.footerlinks1Milan ul li a{
  text-decoration: none;
  color: #edf1ee;
  display: block;
}

.footerlinks1Milan ul li a:hover{
  color: #9EC1D7;
}